table_set_default send_frame NoAction
table_set_default ipv4_da_lpm drop
table_add send_frame rewrite_mac 1 => 00:aa:bb:00:00:00
table_add send_frame rewrite_mac 2 => 00:aa:bb:00:00:01
table_add ipv4_da_lpm forward 10.0.0.10/32 => 00:04:00:00:00:00 1
table_add ipv4_da_lpm forward 10.0.1.10/32 => 00:04:00:00:00:01 2
